node_modules
.next
out
.env
.env.local
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
tsconfig.tsbuildinfo
data/wiki_graph.json
data/processed_graph.json
data/layout_graph.json
*.pem
*.key
node_modules/
